p, li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4em; /* 1em o 16px */
	line-height: 1.6em;
	text-align: justify;
}



.tamImg {
	width: 300px;
	height: 250px;
	margin: 0px 0px 25px 0px;
}

.row {
	margin: 0 auto;
}

.tamImg75 {
	width: 75px;
	height: 75px;
	display: block;
	margin: 0 auto;
}

.tamLiImg{
	list-style: none;
	max-width: 250px;
	max-height: 250px;
	
}

textarea {
	width: 100%;
}

.img_icon {
	width: 35px;
	height: 35px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

tr:hover {
	background: pink !important;
}

.error {
	color: red;
}

/* CARD */
.avatar{
	position: relative;
}

.card {
	padding-top: 20px;
	margin: 10px 0 20px 0;
	background-color: #ffffff;	
	border-top-width: 0;
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card.hovercard {
	position: relative;
	width: 300px;
	padding-top: 0;
	overflow: hidden;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

.card.hovercard img {
	width: 300px;
	height: 200px;
}

.card.hovercard .avatar, #img-ppal .avatar {
	position: relative;
	top: -65px;
	margin-bottom: -40px;
}

.card.hovercard .avatar .icono, #img-ppal .avatar .icono {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(0,0,0,0.6);
	padding: 23.5px;
	border: 1px solid #FFF;
}

.card.hovercard .avatar .icono i, .card.hovercard .avatar .icono span, #img-ppal .avatar .icono span {
	font-size: xx-large;
	color: #CC0000;
}

.card.hovercard .avatar .icono i:hover, .card.hovercard .avatar .icono span:hover, #img-ppal .avatar .icono span:hover {
	font-size: xx-large;
	color: #FF91AF;
	cursor: pointer;
}

.card.hovercard .avatar .icono .likes_number, #img-ppal .avatar .icono .likes_number {
	position: absolute;
	margin: -18px 0px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 17px;
}

.card.hovercard .info {
	padding: 4px 8px 10px;
}

.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.card.hovercard .bottom {
	padding: 0 20px;
	margin-bottom: 17px;
}

.card.people .card-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	line-height: 29px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* pulse */
.pulse:hover:before {
  content: '';
  border-radius: 50px;
  background: red;
  width: 100px;
  height: 100px;
  opacity: 0;  
  position: absolute;
  top: 25%;
  left: 40%;  
  animation: pulse-animate 2s 0.5s infinite;
  margin: -25px 0 0 -25px;
}

.pulse:hover:after {
  content: '';
  border-radius: 50px;
  background: red;
  width: 100px;
  height: 100px;
  opacity: 0; 
  position: absolute;
  top: 25%;
  left: 40%;  
  animation: pulse-animate 2s 1s infinite;
  margin: -25px;
}

@keyframes pulse-animate {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/* autocomplete modal 
***************************************************************/

.ui-autocomplete {
	z-index: 1051 !important;
}

/* end: autocomplete modal */


/* widget Ultimas Recetas Consultadas
****************************************************************/

#widget_consultadas{  
	width: 350px;
    height: 250px;
    background-color: #C0C0FD;
    position: fixed;
    right: 0;
    bottom: 300px;
    padding: 15px;
    border-radius: 0 10% 10% 0;
}

#widget_consultadas div{
	background-color: blue;
    width: 40;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: -35px;
    top: 0;
}

#ocultar span{ 
    margin: 0 auto;
    top: 115px;
}

@keyframes ocultarDiv{
		
	0%{
		left: -100px;
	}
	
	100%{
		left: 100px;
	}
	
}

@keyframes mostrarDiv{
	
	0%{
		right: 100px;
	}
	
	100%{
		right: -100px;
		display
	}
	
}

/* toast
****************************************************************/

@keyframes show{
		
		0%{
			bottom: -100px;
		}
		
		100%{
			bottom: 100px;
		}
		
	}
	
	@keyframes restart{
		
		0%{
			bottom: 100px;
		}
		
		100%{
			bottom: -100px;
			display
		}
		
	}
	
	#toast{
		width: 30%;
		min-height: 35px;
		padding: 5px 20px;
		background-color: #000;
		color: #FFF;
		font-size: 1.3em;
		text-align: center;
		opacity: 0.8;
		margin: 0 auto;
		border-radius: 15px;
		position: fixed;
		left: 28%;
		bottom: -100px;
		/*animation: show 2s;
		animation-fill-mode: forwards;*/
	}
	
	
/* detalle de la receta
******************************************************************/
#img-ppal{
	position: relative;
	width: 100%;
    /*margin-bottom: 20px;*/
    height: auto;
    border-bottom: 5px solid black;
}

#img-ppal img{
	width: 100%;
    height: auto;
    max-height: 500px;
}

#img-ppal .avatar{
	position: absolute;
    top: 20px;
    right: 40px;
}

.usuario{
	width: 215px;
    position: absolute;
    bottom: -105px;
    right: 100px;
}

.titulo-receta{
	font-size: 70px;
    font-family: 'Handlee', cursive;
    margin: 35px 35px 10px 40px;
    text-transform: capitalize;
}

.titulo{
	font-family: 'Vibur', cursive;
	font-size: 40px;
    margin: 40px;
}

.tamImgGallery {
    width: 300px;
    height: 155px;
    margin: 0px 0px 25px 0px;
}

#detalle-receta{
	padding: 40px 20px 20px 20px;
    background-color: rgba(160, 160, 180, 0.2);
}

#detalle-receta textarea{
	padding: 20px;
}

.textarea-descripcion{
	padding: 20px;
    background-color: ghostwhite;
    border: 1px solid gray;
    width: 100%;
    height: 400px;
    overflow: scroll;
}
	
.galeria{
	margin-top: 40px;
}

#detalle-receta ol{
	font-style:italic;
	
}

#detalle-receta ol li{
	
}
