.tamImg{
	width: 150px;
	height: 150px;
	margin: 0 auto;
}


.tamImg2{
	width: 250px;
	height: 250px;
	margin-left:20%;
}




.tamImg75{
	width: 75px;
	height: 75px;
	display: block;
	margin: 0 auto;
}

textarea {
	width: 100%;
}

.img_icon{
	width: 35px;
	height: 35px;	
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

tr:hover{
	background: pink !important;
}

.error{
	color: red;
}
















